@{
    ViewBag.Title = "Muslim Market";
}

<div class="jumbotron">
    <h1>Muslim Market</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>It's your market</p>
    </div>
</div>